<h1>Display Single Loogie</h1>
<form class="" action="/spittoon">
  <input type="submit" name="" value="Spittoon">
</form>
<div class="loogies">
  <h3>{{loogie.id}}</h3>
  <h4>{{loogie.content}}</h4>
  <form class="" action="users/delete/{{loogie.id}}?_method=delete" method="POST">
    <input type="submit" name="" value="delete">
  </form>
</div>
