<h1>Welcome to {{title}}!</h1>
<nav>
  <a class="navlinks"href="/spittoon">Spittoon</a>
  <a class="navlinks"href="users/myprofile">My Profile</a>
</nav>
<p>Our goal here at Phlegmer is to get poeple hacking loogies. The more loogies the
  better. You can connect and share your loogies with others. The Spittoon is where the
  all of loogies are hacked for everyone to admire.</p>
