<header>
  Phlegmer
</header>
<nav>
  <a class="navlinks"href="/spittoon">Spittoon</a>
  <a class="navlinks"href="#">Notifications</a>
  <a class="navlinks"href="#">Messages</a>
  <a class="navlinks"href="users/myprofile">My Profile</a>
  <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
</nav>
<h1>My Followers</h1>
<h2>username {{user.name}}</h2>
<h2>{{user.title}}</h2>
<section id="one">
  <div id="trending">
    trending loogies
  </div>
</section>
<section id="two">
  all the loogies
  <div id="loogie">
    <a href="#">{{user.username}}</a>
    <a href="#">{{loogie.text}}</a>
  </div>
</section>
<section id="three">
  <div id="suggestions">
    all of the suggested users to follow
  </div>
</section>
