<header>
  Phlegmer
  <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
</header>
<nav>
  <a class="navlinks"href="/spittoon">Spittoon</a>
  <a class="navlinks"href="/users/notifications">Notifications</a>
  <a class="navlinks"href="/users/messages">Messages</a>
  <a class="navlinks"href="/users/myprofile">My Profile</a>
  <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
</nav>
<section id="notifications">
  Sorry Phlegmers! This page is temporarily down for maintenance. Stop back in a jiffy!
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</section>
