
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6ffe6;
}

a {
  color: #00B7FF;
}

/*the feed styles*/
h1{
  color: green;
  font-size: 40px;
}
#one{
  height: 300px;
  width: 27%;
  float: left;
  border: 5px solid #006600;
  background-color: #ccffcc;
}
#one div{
  margin-left: 20px;
}
#two{
  height: auto;
  width: 42%;
  float: left;
  border: 5px solid #00cc00;
  margin-right: 6px;
  margin-left: 6px;
  background-color: white;
}
#three{
  height: 300px;
  width: 27%;
  float: left;
  border: 5px solid #006600;
  background-color: #ccffcc;
}
#three div{
  margin-left: 20px;
}
nav{
  width: 100%;
  height: 30px;
  background-color: #009900;
  font-size: 20px;
  display: flex;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 5px;
}
.navlinks{
  flex: 1;
  text-align: center;
  color: white;
  font-family: 'Mina', sans-serif;
  text-decoration: none;
}
.navlinks:hover{
  text-decoration: underline;
  color: lightgrey;
}
header{
  font-size: 50px;
  color: green;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Artifika', serif;
  font-weight: 800;
}
#followers{
  height: 300px;
  width: 70%;
  float: left;
  border: 5px solid #00cc00;
  margin-right: 6px;
  margin-left: 6px;
  background-color: white;
}
#followers div{
  padding-top: 5px;
}
.loogies{
  width: 75%;
  height: auto;
  border: 5px solid green;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: #d6f5d6;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
p{
  font-size: 30px;
}
a{
  color: black;
  text-decoration: none;
}
#notifications{
  width: 95%;
  height: 100px;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-top:40px;
}
h2{
  font-size: 24px;
}
h5{
  font-style: italic;
  font-size: 18px;
}
h6{
  font-size: 18px;
  margin: 0px;
}
